---
const personalImageAlt = "Rubén Charry"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Desarrollador especializado en crear <strong
        > aplicaciones de 
        software escalables y de alto rendimiento</strong
      >. Mi enfoque proactivo y mi pasión por el aprendizaje constante me impulsan 
      a buscar constantemente nuevas formas de mejorar mis habilidades y conocimientos.
    </p>

    <p>
      Poseo un sólido conocimiento de las <strong>tecnologías front-end y back-end</strong>, 
      y estoy apasionado por crear soluciones innovadoras que satisfagan las necesidades de los usuarios.
    </p>

    <p>
      Mi objetivo es convertirme en la mejor versión de mí mismo, 
      tanto a nivel profesional como personal, y estoy comprometido a lograrlo a través de mi trabajo en el desarrollo de software.
    </p>

  </div>

  <img width="200" height="200" src="/foto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>