---
const personalImageAlt = "Rubén Charry"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Bilingual Systems Engineer with over 10 years of experience 
      in <strong>software development</strong>, combining a strong service orientation 
      with unwavering ethical values. Known for exceptional analytical 
      skills and a commitment to achieving team and organizational goals, 
      I thrive in collaborative environments, bringing initiative, 
      creativity, and a results-driven mindset to every project.
    </p>

    <p>
      A quick learner with a passion for innovation, I embrace challenges 
      and demonstrate natural leadership that inspires and motivates teams 
      to excel. Beyond my professional life, I am deeply passionate about 
      personal growth through reading and maintaining an active lifestyle, 
      finding balance and inspiration in both the written word and physical 
      exercise.
    </p>

    <p>
      I bring a unique blend of technical expertise, strategic thinking, and personal drive to every endeavor, 
      always striving for excellence and continuous improvement.
    </p>

  </div>

  <img width="200" height="200" src="/foto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>