---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
{
    date: "Actually...",
    title: "Especialist Enginer 2",
    description:
      "",
    },
    {
    date: "2016 - 2024",
    title: "Technical Lead",
    description:
      "I served as a Technical Lead, managing multidisciplinary teams using agile methodologies to deliver robust Java, Spring Boot, and PL/SQL solutions, integrating PostgreSQL and Oracle databases for impactful projects like TransUnion and Seguros Bolívar.",
    },
    {
    date: "Jan 2013 - Apr 2016",
    title: "Software developer",
    description:
      "I worked as a Java/Oracle developer and tester, integrating and testing critical systems for high-profile clients like Davivienda and Claro Colombia, ensuring quality and functionality. ",
    }

];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
