<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <h1 class="custom-font text-white">Michael Murgueitio</h1>
    <nav class="flex flex-row gap-x-10 opacity-80 text-white">
        <a href="#experiencia" class="nav-header hover:text-yellow-500">Experience</a>
        <a href="#proyectos" class="nav-header hover:text-yellow-500">Projects</a>
        <a href="#sobre-mi" class="nav-header hover:text-yellow-500">About me</a>
    </nav>
</header>

<style>
    /* Importar tipografía desde Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    
    /* Estilo para el nombre */
    .custom-font {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
    }

</style>    